.container{
    margin-bottom: 100px;
      
}
.user-highlight{
    color: #fabe4c;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.buy-now-button{
    background-color: #91ab2b;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
  }

.top-bg{
    background-color: #FFFBF0;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#categories img{
    width: 270px;
    height: 270px;
    align-self: center;
    background-color: #F1F1F1;
    border-radius: 10px;
}
.h3, h5 {
    font-weight: bold;
}
.footer{
    bottom: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.footer .container {
    max-width: 387px;
}